body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Hanken Grotesk', sans-serif;
  }
  .container {
    display: flex;
    width: 600px;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 1px 0px 20px 2px rgb(0, 0, 0, 0.4);
  }
  
  .left {
    color:hsl(0, 0%, 100%);
    padding: 20px;
    width: 40%;
    text-align: center;
    border-radius: 20px;
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
  }
  .right {
    width: 50%;
    padding: 20px;
  }
  .left h4 {
    text-align: center;
    opacity: 70%;
  }
  .score-left {
    padding: 50px;
    width: 74px;
    height: 74px;
    border-radius: 100%;
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
  }

  .left-text > p {
    opacity: 70%;

  }

  .left-text > h3{
    font-size: 1.5rem;
  }

  .big-score {
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    font-size: 60px;
  }

.small-score{
  opacity: 60%;

}

  .score-con {
    display: flex;
  }
  .score {
    display: flex;
    justify-content: space-between;
    background-color: hsla(0, 100%, 67%, 0.1);
    color: hsl(0, 100%, 67%);
    margin-bottom: 15px;
    padding: 15px;
    border-radius: 10px;
  }
  .grey {
    color:hsl(224, 30%, 27%);
    opacity: 50%;
  }
  .score-con img {
    margin-right: 5px;
  }
  .black-text {
    color: #222;
    font-weight: bold;
  }
  .score-memory {
    color: hsl(39, 100%, 56%);
    background: hsla(39, 100%, 56%, 0.1);
  }
  .score-verbal {
    color: hsl(166, 100%, 37%);
    background: hsl(166, 100%, 37%, 0.1);
  }
  .score-visual {
    color: hsl(234, 85%, 45%);
    background: hsl(234, 85%, 45%, 0.1);
  }
  
  button {
    margin-top: 30px;
    padding: 15px 30px;
    border: none;
    color: hsl(0, 0%, 100%);
    outline: none;
    background-color: hsl(224, 30%, 27%);
    width: 100%;
    border-radius: 20px;
  }

  button:hover{
    background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));

  }

  @media (max-width: 760px) {
    body{
      margin: 0;
    }

    .left {
      width: 100svw;
      padding: 0px;
      border-radius: 0px;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }
    .big-score{
      font-size: 35px;
    }

    .small-score{
      font-size: 10px;
      width: 200px;
    }


    .right {
      padding: 0;
      width: 80%;
      margin: 0 auto;
    }

    .score-left{
      height: 20px;
      width: 20px;
    }

    .left-text {
      padding: 20px;
      text-align: center;
      justify-items: center;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .left-text > h3 {
      margin: 0 auto;
      font-size: 20px;

    }

    .left-text > p {
      font-size: 13px;
      width: 75%;
    }

    .left-text p:nth-of-type(2) {
      display: none;
    }

    .container {
      width: 100%;
      flex-direction: column;
      border-radius: 0px;
      overflow: hidden;
      padding: 0;
    }

    .score-card > *{
      height: 1.5vh;
      align-items: center;
      
    }
    span, .black-text{
      font-size: 13px;
    }

    img{
      height: 2.5vh;
    }
button{
  margin: 0 auto 20px;
}

.right > h4{
  margin: 1rem 0;
}
  }